<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.cameralibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".activity.CameraExampOpenActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.CameraExampShowActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.CameraExampCorpActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>
</manifest>
